<manifest
    package="info.android15.nucleus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true">
        <activity android:name="nucleus.DefaultOrientationActivity" />
        <activity android:name="nucleus.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nucleus.view.NucleusActivityTestActivity" />
        <activity android:name="nucleus.view.NucleusLayoutTestActivity" />
        <activity android:name="nucleus.view.NucleusFragmentTestActivity" />
        <activity android:name="nucleus.view.NucleusSupportFragmentTestActivity" />
    </application>
</manifest>
